/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

/* Variables */
:root {
  --background-color: black;
  --primary-color: black;
  --heading-color: white;
  --text-color: rgb(126, 124, 124);
  --accent-color: rgb(126, 124, 124);
  --links: rebeccapurple;
  --navbar: var(--primary-color);
  --navbar-button-color: white;
  --decoration-border-color: white;
  --image-border-color: white;
  --navbar-height: 55px; /* We can use this to define padding for many elements. */
  --menu-button-width: 32px;
  --menu-button-height: 4px;
}

:root.light-mode {
  --background-color: white;
  --primary-color: white;
  --heading-color: black;
  --text-color: rgb(126, 124, 124);
  --accent-color: rgb(126, 124, 124);
  --links: rebeccapurple;
  --navbar: var(--primary-color);
  --navbar-button-color: black;
  --decoration-border-color: black;
  --image-border-color: black;
  --navbar-height: 55px; /* We can use this to define padding for many elements. */
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

p,
li,
ul,
td,
th {
  font-size: 18px;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p {
  margin-bottom: 0.5em;
}

html {
  scrollbar-width: none;
}

a {
  color: var(--links);
  text-decoration: underline;
}

body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--navbar);
  color: var(--background-color);
  height: var(--navbar-height);
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

header .navbar a {
  /* color for navbar links is defined below in overlay section  */
  text-decoration: none;
  color: var(--navbar-button-color);
  font-size: 18px;
}

.navbar button {
  background-color: var(--navbar);
  border: none;
  color: var(--navbar-button-color);
  font-size: 18px;
  cursor: pointer;
}

.logo {
  font-size: 30px;
}
header .logo {
  font-size: 24px;
  width: 35px;
  height: auto;
  border-radius: 50%;
}

#overlay-button {
  position: absolute;
  right: 10px;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

#overlay-button span {
  height: var(--menu-button-height);
  width: var(--menu-button-width);
  border-radius: 2px;
  background-color: var(--navbar-button-color);
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before,
#overlay-button span:after {
  height: var(--menu-button-height);
  width: var(--menu-button-width);
  border-radius: 2px;
  background-color: var(--navbar-button-color);
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: var(--navbar-button-color);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
}

input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}

input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  z-index: 3;
}

#overlay.active {
  visibility: visible;
}

#overlay ul {
  background-color: var(--navbar);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

#overlay ul li {
  padding: 1em;
}

#overlay ul li a {
  color: var(--navbar-button-color);
  text-decoration: none;
}

#overlay ul li a:hover {
  color: var(--accent-color);
}

/* Hero Section Styles */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: var(--navbar-height);
}

.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.hero div img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--image-border-color);
}

.hero div .socials {
  width: 80%;
  max-width: 25rem;
  flex-direction: row;
}

.hero div .socials a {
  text-decoration: none;
  color: var(--links);
}

/* Tags and Posts Section */
.tags,
.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: var(--navbar-height);
  padding-bottom: 35px;
}

.tags > h1,
.posts-section > h1 {
  width: 80%;
}

main .posts-section:first-child > h1,
main .tags:first-child > h1 {
  font-weight: 900;
  font-size: 3em;
  border-bottom: 1px solid var(--decoration-border-color);
}

.tags div {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  width: 80%;
  gap: 1em;
}

.tags div span {
  border: 1px solid var(--decoration-border-color);
  border-radius: 8px;
  padding: 5px 10px;
}

.tags div span a,
.posts-section a {
  color: var(--heading-color);
}

.tags div span a {
  text-decoration: none;
}

.post-element {
  text-decoration: none;
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  line-height: 1.5em;
}

.posts-section p {
  color: var(--text-color);
}

/* Post Content Styles */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  padding: 20px;
  padding-top: var(--navbar-height);
  width: 80%;
}

.post,
.project,
.about {
  line-height: 1.5em;
}

.post p {
  color: var(--text-color);
}

.post img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 30px;
}

.meta-heading {
  border-bottom: 1px solid var(--decoration-border-color);
}

.meta-heading h1 {
  font-weight: 900;
  font-size: 3em;
}

figcaption {
  text-align: center;
  font-size: smaller;
  font-weight: 100;
  padding-top: 0.5em;
  font-style: italic;
}

.post-tags {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-tags span a {
  color: var(--accent-color);
  text-decoration: none;
  border: 1px solid var(--decoration-border-color);
  padding: 5px 10px;
  border-radius: 8px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Table Styles */
table {
  width: max-content;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

th,
td {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* Lists and Blockquote Styles */
ol,
ul {
  padding-left: 30px;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.project-card,
.opensource-contribution {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
}

.project-card h3,
.opensource-contribution h3,
.about h3 {
  text-decoration: underline;
}

.project-heading {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.project-details {
  line-height: 2em;
}

.about {
  line-height: 2em;
}

.about h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.default {
  line-height: 2em;
}

.default h1,
.default h2,
.default h3,
.default h4,
.default h5,
.default h6 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.error {
  margin: auto;
}

.error h1 {
  font-weight: 900;
  font-size: 3em;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  /* Large Screens  */
  #overlay-button {
    display: none;
  }

  #overlay {
    position: static;
    visibility: visible;
    opacity: 0.8;
  }

  #overlay ul {
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 1em;
  }

  #overlay ul li {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Small Screeens  */
  .navbar,
  .main-content,
  .posts-section,
  .tags div {
    width: 90%;
  }

  .project-card,
  .opensource-contribution {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .project-card img,
  .opensource-contribution img {
    width: 100%;
  }

  .tech-stack img {
    width: auto;
  }

  .tags > h1 {
    width: 90%;
  }

  .posts-section > h1,
  .posts-section div span {
    width: 100%;
  }

  .hero div .socials {
    width: 100%;
    flex-wrap: wrap;
  }

  .open-menu-button,
  .close-menu-button {
    display: block;
  }

  .timeline-area div {
    width: 95%;
  }

  .error h1 {
    font-size: 2em;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  /* Portrait Screens  */
  .main-content {
    padding-top: 15vh;
  }

  .navbar {
    width: 90%;
  }

  .hero {
    padding-top: 15vh;
  }
}

/* Code Blocks */
pre,
code,
.highlight {
  background-color: #0d1117;
}

pre {
  border-radius: 3px;
  padding: 20px;
  position: relative;
  overflow-x: auto;
}

code {
  padding: 2px 6px;
}

.highlight {
  border-radius: 5px;
  overflow-x: auto;
  position: relative;
}

.copy-code {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.timeline-area {
  margin: 2em;
  border-left: 2px solid var(--decoration-border-color);
  padding: 0 20px 0 30px;
}

.timeline-area div {
  border-radius: 5px;
  padding: 10px 25px;
  border: 1px solid var(--decoration-border-color);
  position: relative;
  height: auto;
  min-height: 110px;
  margin-bottom: 28px;
}

.timeline-area div::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 3px solid var(--decoration-border-color);
  position: absolute;
  top: 10px;
  left: -40px;
}

.timeline-area p {
  margin-bottom: 0;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
