@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Noto+Sans&family=Poppins&display=swap');
// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f1f1f1;
$navbar-width : 80%;

*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins';
}
body {
  // overflow: hidden !important; // Force full way to remove scrollbar
  scrollbar-width: none; // For Firefox
  scroll-behavior: smooth;
  -ms-overflow-style: none; // For IE and Edge

  &::-webkit-scrollbar {
    display: none;
  }
}

// Mixins
@mixin flex-center {
 display: flex;
 justify-content: center;
 align-items: center;
}

// Header styles
header {

  @include flex-center;
  background-color: $background-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  #navbar{
    @include flex-center;
    justify-content: space-between;
    width: $navbar-width;
    a{
      text-decoration: none;
    }
  }
  .logo {
    color: $primary-color;
    font-size: 24px;
  }

  .nav-menu {
    display: none;
  }

  .nav-bar{
    span{
      padding-left: 15px;
    }
  }
  // display: none;
}

.hero-section{
  margin: 0;
  padding: 0;
  padding-top: 10vh;
  width: auto;
  height: 90vh;
  background-color: $background-color;
  @include flex-center;

  div{
    @include flex-center;

    width: 100%;
    flex-direction: column;
    img{
      width: 120px;
      height: auto;
      border-radius: 50%;
      border: 5px solid black;
    }
    .socials{
      width: 80%;
      max-width: 25rem;
      flex-direction: row;
      justify-content: space-between;
      a{
        text-decoration: none;
      }
    }
  }
}

.list-section {
  margin: 0;
  padding: 0;
  padding-top: 10vh;
  min-height: 90vh; /* Use min-height to ensure content is visible even if there are few posts */
  background-color: $background-color;
  @include flex-center;
  flex-direction: column;
  text-align: left; /* Align text to the right */

  .list-title {
    margin: 20px; /* Adjust the margin as needed */
    h1 {
      margin: 0; /* Reset margin for the h1 element */
    }
    p{
      margin-top: 20px;
    }
  }

  .list-posts {
    ul {
      list-style: none; /* Remove the default bullet points */
      padding: 0;
      margin: 0;
      li {
        margin: 10px 0; /* Add space between individual posts */
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.post-section {
  margin: 0;
  padding: 0;
  @include flex-center;
  flex-direction: column;
  background-color: $background-color;
  height: 100vh;

}



