@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Noto+Sans&family=Poppins&display=swap");

:root {
  --background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Alkatra";
}

html {
  scrollbar-width: none;
}

body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  background-color: var(--background-color);
  overflow: visible;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c3f3f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

header .navbar a {
  text-decoration: none;
  color: white;
}

header .logo {
  color: #3498db;
  font-size: 24px;
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.menu span {
  padding-left: 15px;
}

.open-menu-button,
.close-menu-button {
  display: none;
}

main {
  height: 90vh;
}

.hero {
  height: 90vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: auto;
  height: 90vh;
  padding-top: 10vh;
}

.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.hero div img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 5px solid black;
}

.hero div .socials {
  width: 80%;
  max-width: 25rem;
  flex-direction: row;
  justify-content: space-between;
}

.hero div .socials a {
  text-decoration: none;
}

.posts-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.posts-section div span {
  text-decoration: none;
  display: block;
  width: 85%;
  margin: auto;
  padding-top: 20px;
}

.posts-section a {
  text-decoration: none;
  color: black;
}

.posts-section p {
  color: rgba(0, 0, 0, 0.555);
}

.post-content {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  /* Large Screens */
  .open-menu-button,
  .close-menu-button {
    display: none;
  }
  .menu span {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 2em;
    background-color: black;
    color: white;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    opacity: 0.8;
    display: none;
    height: 100vh;
    gap: 8px;
  }

  .open-menu-button,
  .close-menu-button {
    display: block;
  }
}

@media only screen and (max-height: 767px) and (orientation: landscape) {
  /* portrait phones */

  header {
    height: 15vh;
    background-color: green;
  }
  .post-content {
    padding-top: 15vh;
  }
}
