@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  --background-color: #212529;
  --primary-color: #dee2e6;
  --text-color: #f8f9fa;
  --accent-color: #dee2e6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
}

html {
  scrollbar-width: none;
}

body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  background-color: var(--background-color);
  overflow: visible;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

header .navbar a {
  text-decoration: none;
  color: var(--text-color);
}

header .logo {
  color: var(--primary-color);
  font-size: 24px;
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.menu span {
  padding-left: 15px;
}

.open-menu-button,
.close-menu-button {
  display: none;
}

.hero {
  height: 90vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 10vh;
}

.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.hero div img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 5px solid black;
}

.hero div .socials {
  width: 80%;
  max-width: 25rem;
  flex-direction: row;
  justify-content: space-between;
}

.hero div .socials a {
  text-decoration: none;
  color: var(--accent-color);
}

.posts-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.posts-section div span {
  text-decoration: none;
  display: block;
  width: 85%;
  margin: auto;
  padding-top: 3em;
}

.posts-section a {
  text-decoration: none;
  color: var(--accent-color);
}

.posts-section p {
  color: var(--text-color);
  padding-top: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  padding: 20px;
  padding-top: 10vh;
  width: 80%;
}

.post-content img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 30px;
}

.post-meta {
  border-bottom: 1px solid var(--accent-color);
}

figcaption {
  text-align: center;
  font-size: smaller;
  font-weight: 100;
  padding-top: 0.5em;
  font-style: italic;
}

.post-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gist {
  z-index: -1;
}

table {
  width: max-content;
  border-collapse: collapse;
  text-align: center;
  margin: auto; /* Add margin to center the table */
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

ol,
ul {
  padding-left: 30px;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

@media only screen and (min-width: 768px) {
  /* Large Screens */
  .open-menu-button,
  .close-menu-button {
    display: none;
  }
  .menu span {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  /* Phones */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 2em;
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: start;
    align-items: end;
    flex-direction: column;
    opacity: 0.8;
    display: none;
    height: 100vh;
    gap: 8px;
  }
  .post-content {
    width: 90%;
  }

  .hero div .socials {
    width: 100%;
  }
  .open-menu-button,
  .close-menu-button {
    display: block;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  /* Portrait Phones */
  header {
    height: 15vh;
    background-color: var(--background-color);
  }
  .post-content {
    padding-top: 15vh;
  }

  .navbar {
    width: 90%;
  }
  .hero {
    padding-top: 15vh;
  }
}

/* Codeblocks */
pre {
  border-radius: 3px;
  padding: 20px;
  position: relative;
  overflow-x: auto;
  background-color: #0d1117;
}

code {
  padding: 2px 6px;
  background-color: #0d1117;
}

pre code {
  padding: 0;
  background-color: #0d1117;
}

.highlight {
  border-radius: 5px;
  overflow-x: auto;
  position: relative;
}

.copy-code {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
