{{ define "main" }}
<main>
  <section class="hero">
    <div>
      <img src="/images/avatar.jpeg" />
      <span>
        <h1>{{ .Site.Data.profile.name }}</h1>
        <h2>{{ .Site.Data.profile.role }}</h2>
      </span>
      <p>{{ .Site.Data.profile.slogan }}</p>
      <div class="socials">
        {{ range .Site.Data.profile.socials }}
          {{ if eq .name "Email" }}
            <a target="_blank" href="mailto:{{ .url }}"><span>{{ .name }}</span></a>
          {{ else }}
            <a target="_blank" href="{{ .url }}"><span>{{ .name }}</span></a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <section class="posts-section">
    <h2>Recent Posts</h2>
    <div>
      {{ range first 5 (where .Site.RegularPages "Section" "posts") }} {{
      partial "post/listview.html" . }} {{ end }}
    </div>
  </section>
</main>

{{ end }}
