<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div id="navbar">
        <!-- Logo -->
        <div class="logo">John Doe</div>

        <!-- Menu for small screens -->
        <div class="nav-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/posts">Blog</a></li>
          </ul>
        </div>

        <!-- Navbar for large screens -->
        <div class="nav-bar">
          <span><a href="/">Home</a></span>
          <span><a href="/about">About</a></span>
          <span><a href="/contact">Contact</a></span>
          <a href="/posts"><span>Blog</span></a>
        </div>
      </div>
    </header>
    <section class="list-section">
      <div class="list-title">
        <h1>{{ .Title }}</h1>
        <p class="list-content">{{ .Content }}</p>
      </div>
      <div class="list-posts">
        <ul>
          {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}"
              >{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
    </section>
  </body>
</html>
