{{ define "main" }}
<main>
  <section class="hero">
    <div>
      <img src="/images/avatar.jpeg" />
      <span>
        <h1>{{ .Site.Data.profile.name }}</h1>
        <h2>{{ .Site.Data.profile.role }}</h2>
      </span>
      <p>{{ .Site.Data.profile.slogan }}</p>
      <div class="socials">
        {{ range .Site.Data.profile.socials }}
        <a target="_blank" href="{{ .url }}"><span>{{ .name }}</span></a>
        {{ end }}
      </div>
    </div>
    
  </section>
</main>
<div class="main-content">
  <!-- <section class="about">
    {{ with .Site.GetPage "section" "about" }}
    {{ .Content }}
  {{ end }}
  </section> -->
  <section class="journey">
    {{ with .Site.GetPage "section" "journey" }}
    {{ .Content }}
  {{ end }}
  </section>
  <section class="project">
    {{ with .Site.GetPage "section" "project" }}
    {{ .Content }}
  {{ end }}
  </section>
  <section class="default">
    {{ with .Site.GetPage "section" "contact" }}
    {{ .Content }}
  {{ end }}
  </section>
 </div>
{{ end }}
