/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans&family=Ubuntu+Mono:wght@400;700&display=swap");

/* Variables */
:root {
  /* 2f5c8f */
  /* used as background-color of elements , used as common color for elements, used as to highlight some part of code*/
  --primary-color: black;
  --secondary-color: #c2ccdf;
  --accent-color: #ADD8E6;
  --note-color: rgb(250, 115, 115);
  --heading-color: #c2ccdf;
  --container-border-color: #727382;
  --text-color: #727382;
  --navbar-height: 70px; /* We can use this to define padding for many elements. */
  --menu-button-width: 32px;
  --menu-button-height: 4px;
  --shadow-one:  #c2ccdf; /* Adjusted for dark mode */
  --shadow-two: rgba(255, 255, 255, 0.15);
}

:root.light-mode {
  --primary-color: white;
  --secondary-color: #454963;
  --accent-color: #ff6969;
  --note-color: rgb(250, 115, 115);
  --heading-color: #233044;
  --container-border-color: #454963;
  --shadow-one: #454963;
  --shadow-two: rgba(27, 31, 35, 0.15);
  --text-color: #454963; /* We can use this to define padding for many elements. */
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", monospace;
}

code span{
  font-family: "Ubuntu Mono", monospace;
}

p,
li,
ul,
td,
th {
  font-size: 18px;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

time {
  font-size: medium;
  font-weight: normal;
  font-style: italic;
}

html {
  scrollbar-width: none;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

body {
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 1em;
}

footer p{
  font-size: 15px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  height: var(--navbar-height);
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.active_menu {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 3px;
}

.navbar ul li .active_menu {
  color: var(--heading-color);
}

.active_tag {
  background-color: var(--secondary-color);
}

.active_tag a:first-child {
  color: var(--primary-color);
}

header .navbar a {
  /* color for navbar links is defined below in overlay section  */
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}

.navbar button {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-style: italic;
  border-bottom: 3px solid var(--accent-color);
  line-height: normal;
  font-family: "Pacifico", cursive;
}
header img {
  font-size: 24px;
  width: 35px;
  height: auto;
  border-radius: 50%;
  color: var(--secondary-color);
}

#overlay-button {
  position: absolute;
  right: 10px;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

#overlay-button span {
  height: var(--menu-button-height);
  width: var(--menu-button-width);
  border-radius: 2px;
  background-color: var(--secondary-color);
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before,
#overlay-button span:after {
  height: var(--menu-button-height);
  width: var(--menu-button-width);
  border-radius: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: var(--secondary-color);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
}

input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}

input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}

input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  z-index: 3;
}

#overlay.active {
  visibility: visible;
}

#overlay ul {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

#overlay ul li {
  padding: 1em;
}

#overlay ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

#overlay ul li .active_menu {
  color: var(--accent-color);
  text-decoration: none;
}

#overlay ul li a:hover {
  color: var(--accent-color);
}

/* Hero Section Styles */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: var(--navbar-height);
}

.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.hero div img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.hero div .socials {
  width: 80%;
  max-width: 25rem;
  flex-direction: row;
}

.hero div .socials a {
  text-decoration: none;
  color: var(--accent-color);
}

/* Tags and Posts Section */

.tags,
.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: var(--navbar-height);
  padding-bottom: 35px;
  width: 100%;
}

.tags div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  max-width: 60%;
  justify-content: center;
  gap: 1em;
}

.tags div span {
  border-radius: 8px;
  box-shadow: var(--container-border-color) 0px 1px 3px 0px,
    var(--secondary-color) 0px 0px 0px 1px;
  padding: 4px 8px;
  font-size: large;
}

.tags div span a,
.posts-section a {
  color: var(--heading-color);
  text-decoration: none;
}

.post-element {
  text-decoration: none;
  display: flex;
  margin: 1.5em auto;
  max-width: 60%;
  padding: 1em;
  box-shadow: var(--shadow-one) 0px 1px 3px 0px,
    var(--shadow-two) 0px 0px 0px 1px;
  border-radius: 5px;
}

.posts-section p {
  color: var(--text-color);
}

/* Post Content Styles */

.main-content h1 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  padding: 20px;
  padding-top: var(--navbar-height);
  width: 60%;
}

.post p {
  color: var(--text-color);
}

.post img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 1em;
}
.post .medium {
  width: 60%;
}
.meta-heading {
  border-bottom: 0.5px solid var(--container-border-color);
  text-align: center;
}

.meta-heading h1 {
  font-weight: 900;
  font-size: 4em;
  padding: 0;
}
.meta-heading > span {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1em;
  padding: 1em;
}
figcaption {
  text-align: center;
  font-size: smaller;
  font-weight: 100;
  padding-top: 0.5em;
  font-style: italic;
}

.post-tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-tags span a {
  color: var(--secondary-color);
  text-decoration: none;
  box-shadow: var(--container-border-color) 0px 1px 3px 0px,
    var(--secondary-color) 0px 0px 0px 1px;
  padding: 5px 10px;
  border-radius: 8px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Table Styles */
table {
  width: max-content;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

th,
td {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* Lists and Blockquote Styles */
ol,
ul {
  padding-left: 30px;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid var(--secondary-color);
}

/* Project Section style */
 .project-card,
.profile-card,
.opensource-contribution {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  box-shadow: var(--shadow-one) 0px 1px 3px 0px,
    var(--shadow-two) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 1em;
}

.project-card h3,
.opensource-contribution h3,
.about h3 {
  text-decoration: underline;
  
}
.project-heading,
.profiel-heading {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.tech-stack img{
  padding: 0 5px;
}
.tech-stack h4{
  padding-bottom: 10px;
}
.profile-card {
  border: none;
  box-shadow: none;
} 
.project-links{
  margin: 5px 0px;
}
.project-links a{
  border: 1px solid var(--container-border-color);
  padding: 2px;
  text-decoration: none;
  border-radius: 5px;
} 

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.about h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.about h3 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.default h1,
.default h2,
.default h3,
.default h4,
.default h5,
.default h6 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.error {
  margin: auto;
}

.error h1 {
  font-weight: 900;
  font-size: 3em;
}

.note {
  color: var(--note-color);
  padding: 10px;
  margin-bottom: 15px;
  border-left: 1px solid var(--accent-color);
}


/* Code Blocks */

pre {
  border-radius: 0.5em;
  padding: 10px;
  position: relative;
  overflow-x: auto;
}

code {
  padding: 2px 6px;
}

.highlight {
  border-radius: 0.5em;
  overflow-x: auto;
  position: relative;
}

.copy-code {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}

.timeline-area {
  margin: 2em;
  border-left: 2px solid var(--container-border-color);
  padding: 0 20px 0 30px;
}

.timeline-area div {
  border-radius: 5px;
  padding: 10px 25px;
  border: 1px solid var(--container-border-color);
  position: relative;
  height: auto;
  min-height: 110px;
  margin-bottom: 28px;
}

.timeline-area div::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 3px solid var(--container-border-color);
  position: absolute;
  top: 10px;
  left: -40px;
}

.timeline-area strong {
  color: var(--accent-color);
}
.timeline-area p {
  margin-bottom: 0;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  /* Large Screens  */
  #overlay-button {
    display: none;
  }

  #overlay {
    position: static;
    visibility: visible;
    opacity: 0.8;
  }

  #overlay ul {
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 1em;
  }

  #overlay ul li {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Small Screeens  */
  .navbar,
  .main-content,
  .posts-section,
  .tags div {
    width: 90%;
  }

  .post-element {
    padding: 1em 0.5em;
    max-width: 100%;
  }
  .project-card,
  .opensource-contribution {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .project-card img,
  .opensource-contribution img,
  .profile-card img {
    width: 100%;
  }

  .tech-stack img {
    width: auto;
    padding: 0 2.5px;
  }

  .tags div{
    max-width: 90%;
    justify-content: center;
  }
  .tags > h1 {
    width: 90%;
  }

  .hero div .socials {
    width: 100%;
    flex-wrap: wrap;
  }

  .open-menu-button,
  .close-menu-button {
    display: block;
  }

  .timeline-area div {
    width: 95%;
  }

  .error h1 {
    font-size: 2em;
  }

  .meta-heading h1 {
    font-size: 3em;
  }

  .meta-heading > span {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }

  .meta-heading > span > time,
  .post-tags {
    margin: 1em 0;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  /* Portrait Screens  */
  .main-content {
    padding-top: 15vh;
  }

  .navbar {
    width: 90%;
  }

  .hero {
    padding-top: 15vh;
  }
}


@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}