{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="navbar">
  <a href="/">
    <!-- <img class="logo" src="/images/avatar.jpeg" alt="Avatar"> -->
    <p class="logo">{{ $page.Site.Params.logoText }}</p>
  </a>
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li><button id="mode-toggle">☀️</button></li>
    </ul>
  </div>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $page_url:= $page.Permalink | absLangURL }}
  {{- range .menuEntries }}
  {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
  {{- $attrs := dict "href" .URL }}

    <li>
      <a
      {{- if eq $menu_item_url $page_url }} class="active_menu" {{- end }}
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <li>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </li>
      {{- end }}
    </li>
  {{- end }}
  {{ if $page.Site.Params.showResumeButton }}
    <li><a href="/Dipesh-Singh-Resume.pdf" download class="resume">Resume</a></li>
  {{ end }}
{{- end }}
