{{ define "main" }}

<main class="main-content">
  {{ partial "common/meta-heading.html" . }} {{ if eq .Layout "post" }}
  <section class="post">
    {{ .Content }} {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </section>
  {{ else if eq .Layout "about" }}
  <section class="about">{{ .Content }}</section>
  {{ else if eq .Layout "project" }}
  {{ partial "common/toc.html" . }}
  <section class="project">{{ .Content }}</section>
  {{else}}
  <section class="default">{{.Content}}</section>
  {{end}}
</main>
{{ end }}
